td {
    border: 1px solid;
}

[data-slate-editor] {
    padding: 50px 50px 50px;
    position: relative;
    width: calc(100% + 20px);
    height: inherit;
    overflow: auto;
    min-height: 200px;
    max-height: inherit;
    background: white;
}

.slate-HeadingToolbar {
    padding: 10px !important;
    margin: 0 !important;
    position: relative !important;
    background: white;
    width: 100%;
}

.tippy-box[data-theme~='tomato'] {
    background-color: tomato;
    color: yellow;
}

.slate-selection-area {
    background: #4f90f22d;
    border: 1px solid #4f90f2;
}

.drag-button {
    overflow: hidden;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border-style: none;
    cursor: pointer;
    outline: 0;

    min-width: 18px;
    min-height: 18px;
}

.MuiSvgIcon-root {
    font-size: 18px !important;
}

.slate-code_block {
    background-color: #111827 !important;
}

.slate-code_block code {
    color: white;
}

.plate-container {
    position: relative;
    width: 100%;
    min-height: 300px;
    max-height: 1000px;
    height: inherit;
    display: block;
}